<h2 class="title">The Value of Money</h2>
<div class="article">
   <figure>
      <img class="article-img" src="./img/coin.png" alt="The Value of Money" /> 
      <figcaption class="arti-cap">The Value of Money</figcaption>
   </figure>
   <p class="artip">
      Money is known for its use to exchange basically everything in our current society model allowing individuals and businesses to save for the future, be used as a unit of account, and providing a standardized way of measuring the value of goods and services. However, the value of money is relative, and it depends on the perspective from which it is being 'observed,' for example for someone who has always had it all in economic terms, money may not mean a lot to them because, for someone who have all basic needs covered, focusing on love, self-care mental health, etcetera could seem more important. In contrast, for someone whose economic power acquisition is below the chance to cover their basic needs, that will become the most crucial goal and where their energy will be focused. 
      <br>To sum up, the value of money is important because it allows individuals and businesses to engage in economic activity and achieve their goals. It is a key factor in the functioning of modern economies and plays a crucial role in our daily lives but each human being gives value to money depending on their context and needs.
   </p>
</div>

<h2 class="title">GMO food</h2>
<div class="article">
   <figure>
      <img class="article-img" src="./img/gmo.png" alt="GMO food" /> 
      <figcaption class="arti-cap">GMO food</figcaption>
   </figure>
   <p class="artip">
      GMO food which stands for Genetically Modified Organism, is produced by altering the DNA of plants or animals through the use of biotechnology tools in order to achieve specific traits.
      <br>The consumption of this kind of food is controversial because there are not enough studies yet about the possible consequences for human health or the environment. However, the benefits of its existence are a lot, such as increased yields, reduced pesticide use, and improved nutrition.
   </p>
</div>

<h2 class="title">The View of World in 2100</h2>
<div class="article">
   <figure>
      <img class="article-img" src="./img/clocks.png" alt="The View of World in 2100" /> 
      <figcaption class="arti-cap">The View of World in 2100</figcaption>
   </figure>
   <p class="artip">
      In today's global weather, to have a vision of what the world will be like by the year 2100 could result in complex events such as the possibility of a 3rd world war on the door or the economic system collapsing for the younger generations, the way the resources are distributed nowadays, the climate change, the development of new technologies, and the geopolitical changes, are probably the base of the future society.
      <br>Overall, the world's view in 2100 will depend on many factors, which are difficult to predict. However, the world will likely be more interconnected, diverse, and technologically advanced than it is today.
   </p>
</div>
