<h2 class="title">Portfolio</h2>
<div class="cards">
    <figure id="one">
        <figcaption class="card-cap">Parallel universes</figcaption>
        <img src="../img/planet.png" alt="Parallel Vniverses" /> 
    </figure>
    <figure id="two">
        <figcaption class="card-cap">Craft Beer</figcaption>
        <img src="../img/beer.png" alt="Craft Beer" /> 
    </figure>
    <figure id="three">
        <figcaption class="card-cap">Digital Human</figcaption>
        <img src="../img/digital-man.png" alt="Digital Human" /> 
    </figure>
    <figure id="four">
        <figcaption class="card-cap">Targeting</figcaption>
        <img src="../img/archer.png" alt="Targeting" />         
    </figure>
    <figure id="five">
        <figcaption class="card-cap">Fungi</figcaption>
        <img src="../img/mush.png" alt="Fungi" /> 
    </figure>
    <figure id="six">
        <figcaption class="card-cap">Forbidden Books</figcaption>
        <img src="../img/old-books.png" alt="Forbidden Books" /> 
    </figure>
</div>
